<!DOCTYPE html>
<html>

<head>
    <title>Label</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../css/custom.css" media="screen">
</head>

<body>
    <div class="container">
        <div class="row virticalSlut">
            <div class="col-md-12">
                <h3>Example heading
                    <span class="label label-default">New</span>
                </h3>
                <span class="label label-default">Default</span>
                <span class="label label-primary">Primary</span>
                <span class="label label-success">Success</span>
                <span class="label label-info">Info</span>
                <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>

</html>
