<!DOCTYPE html>
<html>

<head>
    <title>Progress bars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../css/custom.css" media="screen">
</head>

<body>
    <div class="container">
        <div class="row virticalSlut">
            <div class="col-md-12">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="../../img/logo.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist.
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="../../img/logo.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist.
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="../../img/logo.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist.
                            <ul class="media-list">
                                <li class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="../../img/logo.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist.
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="../../img/logo.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist. lapmu opjam de udfopist.
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>

</html>
