<!DOCTYPE html>
<html>

<head>
    <title>Page Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../css/custom.css" media="screen">
</head>

<body>
    <div class="container">
        <div class="row virticalSlut">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Example page header
                        <small>Subtext for header</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>

</html>
